<app-sidebar></app-sidebar>

<div class="main">
    <!-- Presentación -->
    <div class="presentacion" id="presentacion">
        <div class="view_presentacion">
            <img class="yo_2" src="assets/img/yo.jpg" alt="Foto mia">
            <h2>Jonathan Valle</h2>
            <p>Bienvenido a mi portafolio como Desarrollador de Aplicaciónes</p>
            <div class="botones">
                <button (click)="descargarCV()">Descargar CV</button>
                <a [routerLink]="['/contacto']"><button>Contáctame</button></a>
            </div>
        </div>

        <div class="redes_sociales">
            <a href="https://www.linkedin.com/in/jonathan-valle-958118211/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/JonathanValle12" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/patito_milet/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://mail.google.com/" target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</div>