<app-sidebar></app-sidebar>

<div class="main">
    <!-- Sobre Mi -->
    <div class="sobre_mi" id="sobre-mi">
        <h2>Sobre mi</h2>
        <p>Soy Jonathan, un entusiaste del desarrollo web y móvil de Barcelona.
            Con 21 años y una doble titulación en proceso, disfruto creando soluciones
            digitales innovadoras. Mi pasión es combinar ceatividad y tecnología para ofrecer experiencias
            excepcionales. Explora mi portafolio y descubre mi viaje en el desarrollo de aplicaciones.
        </p>
        <h3>Actualmente estudio y busco ampliar mi campo laboral en el mundo del desarrollo web y móvil</h3>
        <div class="view_stack">
            <div class="frontend">
                <img src="assets/img/code_frontend.png" alt="Foto del frontend Codigo">
                <h3>Frontend</h3>
                <div class="contenedor_stack">
                    <span>HTML5</span>
                    <span>CSS3</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Jquery</span>
                    <span>Bootstrap</span>
                </div>
            </div>
            <div class="backend">
                <img src="assets/img/bbdd_backend.jpg" alt="Foto del backend Codigo">
                <h3>Backend</h3>
                <div class="contenedor_stack">
                    <span>Java</span>
                    <span>PHP</span>
                    <span>Python</span>
                    <span>NodeJS</span>
                    <span>MySQL</span>
                    <span>MongoDB</span>
                </div>
            </div>
            <div class="herramientas">
                <img src="assets/img/herramientas.jpg" alt="Foto de Herramientas Codigo">
                <h3>Herramientas</h3>
                <div class="contenedor_stack">
                    <span>GitHub</span>
                    <span>Postman</span>
                    <span>Scrum</span>
                    <span>Kanban</span>
                </div>
            </div>
        </div>
    </div>
</div>